body{
    font-family: 'Courier New', Courier, monospace;
}
main{
    margin-top: 87.61px;
}
.name{
    font-size: 4em;
    font-weight: bold;
    color: Black;
}
.scroll{
    scroll-margin-top: 87.5px;
}
ul li a:hover{
    transition: 0.5s;
    background: #ffc107!important;
    border-radius: 10px;
}
.active{
    transition: 0.5s;
    background: #ffc107!important;
    border-radius: 10px;
}
.div{
    clip-path: circle(5% at center);
    transition: 2s;
  }
.div2{
    clip-path: circle(150% at center);
    transition: 2s;
  }
.card1{
    opacity: 0 !important;
    transform: scale(0.9);
    transition: 1s ease-in-out all;
  }
.card2{
    opacity: 1 !important;
    transform: scale(1);
  }
.move{
    transition: 0.25s;
}
.move:hover{
    transform: scale(1.05);
}
.icon-move {
    transition: all 0.25s ease-out;
}
.icon-move:hover{
    transform: rotate(-45deg);
}
.cursor-pointer{
    cursor: pointer !important;
}