body{
    font-family: 'Courier New', Courier, monospace;
}
main{
    margin-top: 87.61px;
}
.name{
    font-size: 4em;
    font-weight: bold;
    color: white;
}
.scroll{
    scroll-margin-top: 87.5px;
}
ul li a:hover{
    transition: 0.5s;
    background: #ffc107!important;
    border-radius: 10px;
}
.active{
    transition: 0.5s;
    background: #ffc107!important;
    border-radius: 10px;
}